site_name: Better with Aether
theme:
  name: material
  color_mode: auto
  user_color_mode_toggle: true
  logo: assets/bwa.svg
  favicon: assets/bwa.svg
  palette:
    - scheme: default
      primary: blue
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      primary: light blue
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs
 
extra_css:
  - assets/custom.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition