.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.4rem;
    width: 1.4rem;
}

.md-toggle-color-mode {
    display: none !important;
}

[data-md-color-scheme="aether"] {
    --md-default-bg-color: #e6e6fa;
    --md-default-fg-color: #0a5ed4;
}