.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.4rem;
    width: 1.4rem;
}

.md-toggle-color-mode {
    display: none !important;
}

[data-md-color-scheme="aether"] {
    --md-default-bg-color: #e6e6fa;
    --md-default-fg-color: #0a5ed4;
}

.holy {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    background-image: url('/assets/images/icons/holy.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.lightning {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    background-image: url('/assets/images/icons/lightning.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.block {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    background-image: url('/assets/images/icons/block.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.heart {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    background-image: url('/assets/images/icons/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.heart_half {
    display: inline-block;
    width: 0.93em;
    height: 0.93em;
    background-image: url('/assets/images/icons/heart_half.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

thead th {
    background-color: #4320f2e7;
    color: whitesmoke;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
}

th {
    background-color: #ffffff;
}